<!doctype html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Colorpicker test</title>

	<script src="../../lib/es5-shim/es5-shim.js"></script>
	<script src="../../lib/classlist/classList.js"></script>
	<script src="../../lib/object-array-utils/src/object.js"></script>
	<script src="../../lib/object-array-utils/src/array.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.core.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.bem.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.date.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.dom.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.event.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.measure.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.string.js"></script>
	<script type="text/javascript" src="../../lib/dxjs/src/dx.tmpl.js"></script>
	<script src="../../lib/dropdown/src/js/dropdown.js"></script>
	<script src="../../src/js/colorpicker.js"></script>
	<link rel="stylesheet" href="../css/test.css"/>

	<script>

		Colorpicker.colorList = [
			{
				groupTitle: 'test',
				colors: []
			}
		];
	</script>
	<script type="text/javascript">
		var colorPickers = [];
		window.onload = function() {
			var inputColorPicker = document.getElementById('Input_ColorPicker');
			var inputColorPickerGroupWithoutTitle = document.getElementById('Input_ColorPicker_GroupWithoutTitle');
			inputColorPicker.colorList = [
				{
					groupTitle: 'Group 1',
					colors: [
						'#ffffff', '#e5e5e5', '#cccccc', '#b5b5b5', '#999999', '#828282'
					]
				}
			];
			inputColorPickerGroupWithoutTitle.colorList = [
				{
					colors: [
						'#ffffff', '#e5e5e5', '#cccccc', '#b5b5b5', '#999999', '#828282'
					]
				}
			];
			Array.prototype.forEach.call(document.querySelectorAll('[data-colorpicker]'), function(input) {
				colorPickers.push(new Colorpicker(input));
			})
		}
	</script>
</head>
<body>
<fieldset>
	<legend>Color List from object Colorpicker.colorList</legend>
	<input data-ng-model="default" data-colorpicker type="text" value=""/>
</fieldset>
<fieldset>
	<legend>Color List with group without title</legend>
	<input data-ng-model="default" data-colorpicker type="text" value="" id="Input_ColorPicker_GroupWithoutTitle"/>
</fieldset>
<fieldset>
	<legend>Color List from property DOM Element</legend>
	<input data-ng-model="default" data-colorpicker type="text" value="" id="Input_ColorPicker"/>
</fieldset>
<fieldset>
	<legend>Disabled</legend>
	<input data-ng-model="default" data-colorpicker type="text" value=""  disabled />
</fieldset>
</body>
</html>